<div>
  <%= form_with model: @post do |form| %>
  <% form.hidden_field :user, value: @user%>
    <p><%= form.label :body, "Post:" %></p>
    <p><%= form.text_area :body, size: "60x10" %></p>
    <p><%= form.submit "post" %></p>
  <% end %>
</div>

<div class="posts">
  <% @posts.each do |post| %>
    <div class="post">
      <h3>Post</h3>
      <p><%= post.body %></p>
      <p><%= post.user.email %></p>
      <h4>Like Count</h4>
      <p><%= post.likes.count %></p>
      <h3>Comments</h3>
      <% post.comments.each do |comment|%>
        <li><%= comment.body %></li>
      <% end %>
    </div>
    <div>
      <%= form_with model: @comment do |comment| %>
      <%= comment.hidden_field :post_id, value: post.id %>
      <p><%= comment.label :body %></p>
      <p><%= comment.text_area :body %></p>
      <p><%= comment.submit %></p>
    <% end %>
   </div>
   <div>
     <%= form_with model: @like do |like| %>
     <p><%= like.hidden_field :liked, value: true %></p>
     <p><%= like.hidden_field :likeable_id, value: post.id %></p>
     <p><%= like.hidden_field :likeable_type, value: "Post" %></p>
     <p><%= like.submit "Like" %></p>
   <% end %>
  </div>
<% end %>
</div>
