<!DOCTYPE html>
<html>
  <head>
    <title>FB</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if current_user %>
      <p>User: <%= current_user.email %></p>
      <p><%= button_to 'Posts', root_path, method: :get %></p>
      <p><%= button_to 'Users', users_path, method: :get %></p>
      <p><%= button_to 'Profile', {:controller => "users",:action => "show", :id => current_user.id}, method: :get %></p>
      <p><%= button_to 'Sign Out', destroy_user_session_path, method: :delete %></p>
      #show button when user has friend request from other users
      <p><%= button_to 'Requests', users_path, method: :get if #user has friend request from other user%></p>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
